<div class="container-fluid p-3" id="fondo" >
<div class="container" >
  <div class="card ">
      <div class="hero"><img src="../../../assets/img/HERO.png" class="card-img-top" alt="..."></div>
    
      <div class="card-body">
        <h5 class="card-title">HERO</h5>
        <p class="card-text">HERO is one of the three deuteragonists in OMORI who join OMORI's party. When tagged as the leader, HERO can use his charm to convince others to assist the party.</p>
      </div>

      <div class="container ">
        <div class="row row-cols-2">
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
        </div>
        <div class="row row-cols-2">
          <div class="col">5</div>
          <div class="col">6</div>
          <div class="col">7</div>
          <div class="col">8</div>
        </div>
      </div>
  </div>
</div>    

<div class="container">
  <div class="card">
    <div class="kel"><img  src="../../../assets/img/KEL.png" class="card-img-top" alt="..." ></div>
    

    <div class="card-body">
      <h5 class="card-title">KEL</h5>
      <p class="card-text">KEL is one of the main three deuteragonists that join OMORI's party in OMORI. Tagging KEL as leader gives him the ability to throw his ball from certain platforms to hit objects otherwise inaccessible to the party.</p>
    </div>

    <div class="container">
      <div class="row row-cols-3">
        <div class="col">1</div>
        <div class="col">2</div>
        <div class="col">3</div>
        <div class="col">4</div>
      </div>
      <div class="row row-cols-2">
        <div class="col">5</div>
        <div class="col">6</div>
        <div class="col">7</div>
        <div class="col">8</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="aubrey"><img src="../../../assets/img/AUBREY.png" class="card-img-top" alt="..." ></div>

    <div class="card-body">
      <h5 class="card-title">AUBREY</h5>
      <p class="card-text">AUBREY is one of the three deuteragonists in OMORI that join OMORI's party. However, in the FARAWAY TOWN sections in the game, she serves as a minor antagonist. When AUBREY is in the lead, she can smash obstacles with a bat.</p>

    </div>

    <div class="container">
      <div class="row row-cols-2">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
      </div>
      <div class="row row-cols-2">
        <div class="col">5</div>
        <div class="col">6</div>
        <div class="col">7</div>
        <div class="col">8</div>
      </div>
    </div>
  </div>
</div>
</div>