.kel{
    height: 100px;
    width: 100px;
    padding: 20px;
}
.iconhero{
    height: 100px;
    width: 100px;
    padding: 20px;
}
.aubrey{
    height: 100px;
    width: 100px;
    
}
.card{
    margin-top: 30px;
    margin-bottom: 30px;
}

#fondo{
    background-color: gray;

}

.card-title{
    color: #6200ff;;
}

.inf{
    width: 370px;
}
table{
    width: 370px;
    background-color: whitesmoke;
}

