<div class="container">
    <h4>OMORI</h4>
    <div>
        <p>OMORI IS A SURREAL PSYCHOLOGICAL HORROR RPGMAKER GAME DESIGNED BY OMOCAT. IT WAS FUNDED VIA KICKSTARTER FOR THE PC, MAC, & SWITCH AND IS CURRENTLY AVAILABLE FOR DOWNLOAD ON STEAM.
            PLEASE VISIT THE LAYOUT GUIDE TO LEARN HOW TO CONTRIBUTE. FOR INQUIRIES, PLEASE CONTACT THE OMORI WIKI ADMINS.</p>
    </div>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/OIP.fTPFhIbJBOIqvYqkdeXnhgHaEK?pid=ImgDet&rs=1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R.8c33ced6ab74f138969f04ef4be466ff?rik=gSLjhEybq8kENA&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R.ca64bea2471628e846b2f30a54a9b485?rik=0jH96bRinNnDNg&riu=http%3a%2f%2fimg.europapress.es%2ffotoweb%2ffotonoticia_20160122170456_1280.jpg&ehk=Ep3%2fBCxn9jpTkkeD24paZZ12vYHQjQVrpwFONwCp6do%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="scrollspyHeading1">First heading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia debitis nisi animi repellendus quia id facere architecto totam? Perferendis aliquid quasi a eos facere deserunt exercitationem ullam nesciunt nam aperiam.</p>
        <h4 id="scrollspyHeading2">Second heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam a tenetur, nisi autem nobis quaerat deserunt, doloremque, incidunt dicta hic esse adipisci voluptatum distinctio libero. Beatae atque voluptatum ducimus eligendi?</p>
        <h4 id="scrollspyHeading3">Third heading</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis veritatis nam facere illum molestias voluptates voluptatem maiores aliquam impedit! Placeat, ea voluptatum ullam vero tenetur velit pariatur obcaecati harum facere.</p>
        <h4 id="scrollspyHeading4">Fourth heading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, totam sit. Ducimus officiis libero quae non ipsa assumenda nesciunt dolorem, quis totam quisquam tempore, temporibus enim aspernatur quas, placeat laboriosam?</p>
        <h4 id="scrollspyHeading5">Fifth heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nemo enim illo harum. Est fugiat dolor laborum enim incidunt natus cum. Aspernatur, nobis molestiae? Eveniet aliquam voluptatum quam quisquam quaerat!</p>
    </div>


</div>
<div class="container">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</div>