<div class="container">
    <p>Parrafo
      <a href="https://omori.fandom.com/wiki/KEL">KEL WIKI</a>
     
    </p>
    
    <div class="text-center">
        <img src="../../../assets/img/OMORI_logo.png" alt="">
        <p>OMORI IS A SURREAL PSYCHOLOGICAL HORROR RPGMAKER GAME DESIGNED BY OMOCAT. IT WAS FUNDED VIA KICKSTARTER FOR THE PC, MAC, & SWITCH AND IS CURRENTLY AVAILABLE FOR DOWNLOAD ON STEAM.
            PLEASE VISIT THE LAYOUT GUIDE TO LEARN HOW TO CONTRIBUTE. FOR INQUIRIES, PLEASE CONTACT THE OMORI WIKI ADMINS.</p>
    </div>
</div>

<div class="container">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/Omori_and_friends_vs_Boss.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/Whitespace_intro_gif.gif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/Dream_World.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/Omoriorigingroup.gif" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<div class="container">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        
        <h4 id="scrollspyHeading2">Second heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam a tenetur, nisi autem nobis quaerat deserunt, doloremque, incidunt dicta hic esse adipisci voluptatum distinctio libero. Beatae atque voluptatum ducimus eligendi?</p>
        <h4 id="scrollspyHeading3">Third heading</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis veritatis nam facere illum molestias voluptates voluptatem maiores aliquam impedit! Placeat, ea voluptatum ullam vero tenetur velit pariatur obcaecati harum facere.</p>
        <h4 id="scrollspyHeading4">Fourth heading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, totam sit. Ducimus officiis libero quae non ipsa assumenda nesciunt dolorem, quis totam quisquam tempore, temporibus enim aspernatur quas, placeat laboriosam?</p>
        <h4 id="scrollspyHeading5">Fifth heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nemo enim illo harum. Est fugiat dolor laborum enim incidunt natus cum. Aspernatur, nobis molestiae? Eveniet aliquam voluptatum quam quisquam quaerat!</p>
    </div>


</div>
<div class="container">
  <div class="row ">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      </div>
    

   
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      </div>
    

    
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      </div>
    
</div>

</div>